<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>asTech Motorcade</title>
</head>

<body>

    <div id="motorcade" @keypress.del="clearForm" @click="closeContextMenu" @contextmenu.prevent="contextMenu" v-cloak>

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand fonty" href="#">
                <img src="astechlogo.jpeg" width="100" height="50" class="d-inline-block align-top" alt=""> {{appName}}
            </a>
        </nav>

        <h3 v-if="!editing">Make an Entry</h3>
        <h1 v-text="vehicleMMY"></h1>

        <form style="width: 50%; margin: auto;" class="form-inline">
            <input type="hidden" v-model="id">
            <input v-model.lazy.number="year" type="number" id="vehicleYear" class="form-control mmy" main="1950" max="2200" placeholder="Year"
                onfocus="if(!motorcade.editing){this.value=''}" required>
            <input v-model.lazy.trim="make" type="text" id="vehicleMake" class="form-control mmy" placeholder="Make" onfocus="if(!motorcade.editing){this.value=''}"
                required>
            <input v-model.lazy.trim="model" type="text" id="vehicleModel" class="form-control mmy" placeholder="Model" onfocus="if(!motorcade.editing){this.value=''}"
                required>
            <input v-model.lazy.trim="manufacturerCode" type="text" id="vehicleManufacturerCode" class="form-control" placeholder="Manufacturer Code"
                onfocus="if(!motorcade.editing){this.value=''}" required>
            <input v-model.lazy.trim="engineType" type="text" id="vehicleEngineType" class="form-control" placeholder="Engine Type" onfocus="if(!motorcade.editing){this.value=''}"
                required>
            <select v-model.lazy.number="toolTypeId" class="form-control" id="vehicleToolType">
                <option value="0" disabled>Choose ToolType</option>
                <option v-for="type in toolTypeData" v-bind:value="type.id">{{type.name}}</option>
            </select>
            <div class="form-group" style="width: 100%;">
                <label for="vehicleCollisionCoverage">Collision Coverage</label>
                <select v-model.lazy.number="collisionCoverage" class="form-control" id="vehicleCollisionCoverage">
                    <option value="0" disabled>Choose Status</option>
                    <option value="1">Full</option>
                    <option value="2">Partial</option>
                    <option value="3">No Coverage</option>
                    <option value="4">N/A</option>
                </select>
            </div>
            <div class="form-group" style="width: 100%;">
                <label for="mechanicalCoverage">Mechanical Coverage</label>
                <select v-model.lazy.number="mechanicalCoverage" class="form-control" id="vehicleMechanicalCoverage">
                    <option value="0" disabled>Choose Status</option>
                    <option value="1">Full</option>
                    <option value="2">Partial</option>
                    <option value="3">No Coverage</option>
                    <option value="4">N/A</option>
                </select>
            </div>
            <div class="form-group" style="width: 100%;">
                <label for="calibrationCoverage">Calibration Coverage</label>
                <select v-model.lazy.number="calibrationCoverage" class="form-control" id="vehicleCalibrationCoverage">
                    <option value="0" disabled>Choose Status</option>
                    <option value="1">Full</option>
                    <option value="2">Partial</option>
                    <option value="3">No Coverage</option>
                    <option value="4">N/A</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="vehicleJ2534">J2534?</label>
                <input v-model.trim="isJ2534Compatible" type="checkbox" class="form-control">
            </div>

            <hr>

            <div class="btn btn-primary" v-on:click="clearForm">Cancel</div>
            <div @click.stop="submitForm(motorcade, $event)" class="btn btn-success" v-if="!editing">Submit
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </div>
            <div @click.stop="submitDeleteForm()" class="btn btn-danger" v-if="editing">Delete
                <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div @click.stop="submitEditForm()" class="btn btn-success" v-if="editing">Submit Changes
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </div>

            <ul id="myContextMenu" v-if="showContextMenu" v-bind:style="{top:top, left:left, width: '150px', position: 'absolute', background: 'lightgray'}">
                <li>
                    <a href=# @click="clearForm">Clear Form</a>
                </li>
            </ul>
        </form>

        <div v-else>
            <h2>Database disconnected.</h2>
        </div>
        <hr>
        <div>
            <h2>Database</h2>
            <div class="searchDiv" class="form-group">
                <input class="form-control" type="number" v-model="year" placeholder="Search by Year">
                <input class="form-control" type="text" v-model="make" placeholder="Search by Make">
                <input class="form-control" type="text" v-model="model" placeholder="Search by Model">
                <br>
                <input class="form-control" type="text" v-model="manufacturerCode" placeholder="Search by Manufacturer Code">
                <br>
                <input class="form-control" type="text" v-model="engineType" placeholder="Search by Engine Type">

                <div class="btn clear-search-btn" @click="clearForm">Clear
                    <span class="glyphicon glyphicon-trash"></span>
                </div>
            </div>
            <table class="table">
                <thead>
                    <th>Year</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Engine</th>
                    <th>ToolType</th>
                    <th></th>
                    <th>Coverages</th>
                    <th></th>
                    <th>J2534</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr id="searchResults" v-for="car in carData" v-show="car.vehicleAttr.vehicleMMY.model.toLowerCase().includes(model.toLowerCase()) 
                                                     && car.vehicleAttr.vehicleMMY.make.toLowerCase().includes(make.toLowerCase())
                                                     && car.vehicleAttr.vehicleMMY.year.toString().includes(year)
                                                     && car.vehicleAttr.engineType.toString().includes(engineType.toLowerCase())
                                                     && car.vehicleAttr.manufacturerCode.toString().includes(manufacturerCode.toLowerCase())">
                        <td>
                            {{car.vehicleAttr.vehicleMMY.year}}
                        </td>
                        <td>
                            {{car.vehicleAttr.vehicleMMY.make}}
                        </td>
                        <td>
                            {{car.vehicleAttr.vehicleMMY.model}}
                        </td>
                        <td>
                            {{car.vehicleAttr.engineType}}
                        </td>
                        <td>
                            {{car.vehicleAttr.toolType.name}}
                        </td>
                        <td>
                            <span v-bind:class="{'full' : car.collisionCoverage.coverageType.status===1,
                           'partial' : car.collisionCoverage.coverageType.status===2,
                           'noCoverage' : car.collisionCoverage.coverageType.status===3,
                           'na' : car.collisionCoverage.coverageType.status===4}">
                                Collision
                            </span>
                        </td>
                        <td>
                            <span v-bind:class="{'full' : car.mechanicalCoverage.coverageType.status===1,
                            'partial' : car.mechanicalCoverage.coverageType.status===2,
                            'noCoverage' : car.mechanicalCoverage.coverageType.status===3,
                            'na' : car.mechanicalCoverage.coverageType.status===4}">
                                Mechanical
                            </span>
                        </td>
                        <td>
                            <span v-bind:class="{'full' : car.calibrationCoverage.coverageType.status===1,
                            'partial' : car.calibrationCoverage.coverageType.status===2,
                            'noCoverage' : car.calibrationCoverage.coverageType.status===3,
                            'na' : car.calibrationCoverage.coverageType.status===4}">
                                Calibration
                            </span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-check" style="color:green;" v-if="car.vehicleAttr.isJ2534Compatible"></span>
                            <span class="glyphicon glyphicon-remove" style="color:red;" v-else></span>
                        </td>
                        <td>
                            <div class="btn btn-primary" @click="editEntry(car.vehicleAttr.id)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="vueapp.js"></script>
</body>

</html>