@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

[v-cloak] > * {
  display: none;
}

.accentColor {
  color: green;
}

.format {
  margin: auto;
  margin-left: 10px;
}
.full {
  color: white;
  background: green;
  border: 3px rgb(42, 161, 42) solid;
  border-radius: 5px;
  padding: 5px;
}
.partial {
  color: black;
  background: rgb(253, 235, 74);
  border: 3px rgb(255, 255, 82) solid;
  border-radius: 5px;
  padding: 5px;
}
.noCoverage {
  color: white;
  background: rgb(228, 2, 2);
  border: 3px red solid;
  border-radius: 5px;
  padding: 5px;
}
.na {
  color: gray;
  border: dotted gray 1px;
  padding: 7px;
  border-radius: 5px;
}
.fonty {
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  color: red;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: auto;
  text-align: center;
}
body {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
table {
  margin: auto;
}
th {
  text-align: center;
}
.searchDiv {
  display: flex;
  flex-wrap: wrap;
}
.searchDiv > input {
  width: 30%;
  margin: auto;
  margin-bottom: 5px;
}
.searchDiv > select {
  width: 30%;
  margin: auto;
}
.navbar-brand > img {
  display: inline;
}
#motorcade {
  height: 100%;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}
.clear-search-btn {
  width: 30%;
  background: #e5e5e5;
  margin: auto;
  border: 1px outset lightgray;
}
input {
  margin: 20px;
}
select {
  margin: 20px;
}
table > thead {
  border-bottom: solid gray 3px;
  border-top: solid gray 2px;
}
table > tbody > tr > td.table-cell {
  border-bottom: solid gray 1px;
  border-top: solid gray 1px;
  padding-top: 15px;
}
table {
  margin-top: 10px;
}