@import url("https://fonts.googleapis.com/css?family=Orbitron");

[v-cloak] > * {
  display: none;
}

.accentColor {
  color: green;
}

.format {
  margin: auto;
  margin-left: 10px;
}
.full {
  color: white;
  background: green;
  border: 3px green solid;
  border-radius: 5px;
  padding: 5px;
}
.partial {
  color: black;
  background: yellow;
  border: 3px yellow solid;
  border-radius: 5px;
  padding: 5px;
}
.noCoverage {
  color: white;
  background: red;
  border: 3px red solid;
  border-radius: 5px;
  padding: 5px;
}
.na {
  color: gray;
  border: dotted gray 1px;
  padding: 7px;
  border-radius: 5px;
}
.fonty {
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  color: red;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: auto;
  text-align: center;
}
body {
  text-align: center;
}
table {
  margin: auto;
}
th {
  text-align: center;
}
.searchDiv {
  display: flex;
  flex-wrap: wrap;
}
.searchDiv > input {
  width: 30%;
  margin: auto;
  margin-bottom: 5px;
}
.searchDiv > select {
  width: 30%;
  margin: auto;
}
.navbar-brand > img {
  display: inline;
}
#motorcade {
  height: 1200px;
  width: 80%;
  margin: auto;
}
.clear-search-btn {
  width: 30%;
  background: #e5e5e5;
  margin: auto;
  border: 1px outset lightgray;
}
form > input {
  margin-bottom: 15px;
}
form > select {
  margin-bottom: 15px;
}
